name: Build and Deploy Docs
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      # Pre-check to validate that versions match between package.json
      # and package-lock.json. Needs to run before npm install
      - name: Validate package.json and package-lock.json versions
        run: node version-check.js
      - name: Install dependencies
        run: npm ci
      - name: Build docs
        run: npm run docs

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
