##
# See http://editorconfig.org
##
root = true

##
# Configuration for all files.
##
[*]
charset = utf-8

# Line length
max_line_length = 120

# Tab indentation
indent_size = 2
indent_style = space

# Line endings
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
