name: Build and Deploy Docs
on:
    push:
        branches:
            - main
jobs:
    build-and-deploy-docs:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5.0.0
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '20'
            # Pre-check to validate that versions match between package.json
            # and package-lock.json. Needs to run before npm install
            - name: Validate package.json and package-lock.json versions
              run: node version-check.js
            - name: Install dependencies
              run: npm ci
            - name: Build docs
              run: npm run docs

            - name: Deploy docs
<<<<<<< HEAD
              uses: JamesIves/github-pages-deploy-action@v4.7.4
=======
              uses: JamesIves/github-pages-deploy-action@v4.7.3
>>>>>>> 8c293c32 (Fix Knative Service YAML parsing by checking API groups)
              with:
                  branch: gh-pages # The branch the action should deploy to.
                  folder: docs # The folder the action should deploy.
